<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- 测试日志文件输出 -->
        <RollingFile name="TestFile" fileName="logs/test.log"
                     filePattern="logs/test-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Actor系统日志配置 -->
        <Logger name="com.avolution.actor" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TestFile"/>
        </Logger>

        <!-- 测试类日志配置 -->
        <Logger name="com.avolution.actor.test" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TestFile"/>
        </Logger>

        <!-- 根日志配置 -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>